html body{
    width:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.title1{
    font-size: 24px;
    font-weight: bold;
}

.gray{
    color: gray;
}
.footer-bg{
    width:100%;
    background-image: url();
    background-color:#F6F7FA;
    padding: 35px 0px 35px 0px;
}

.footer-bg p{
    display: flex;
    justify-content: center;
}

.footer-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.footer-subscribe input {
    padding: 16px 16px;
    border: 1px solid #ddd;
    border-radius: 30px 0 0 30px;
    width: 300px;
    font-size: 14px;
    border-right: none;
    outline: none;
}

.footer-subscribe button {
    padding: 16px 35px;
    background-color: #e54a2c;
    color: white;
    border: 1px solid #ddd;
    border-radius: 30px 30px 30px 30px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
}