html body{
    width:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.title1{
    font-size: 24px;
    font-weight: bold;
}

.gray{
    color: gray;
}

/*------FOOTER------*/

.footer-bg{
    width:100%;
    background-image: url();
    background-color:#F6F7FA;
    padding: 35px 0px 35px 0px;
}

.footer-bg p{
    display: flex;
    justify-content: center;
}

.footer-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.footer-subscribe input {
    padding: 16px 16px;
    border: 1px solid #ddd;
    border-radius: 30px 0 0 30px;
    width: 300px;
    font-size: 14px;
    border-right: none;
    outline: none;
}

.footer-subscribe button {
    padding: 16px 35px;
    background-color: #e54a2c;
    color: white;
    border: 1px solid #ddd;
    border-radius: 30px 30px 30px 30px;
    font-size: 14px;
    cursor: pointer;
}

/*------404 PAGE------*/

.notfound-404{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.center-404{
    text-align: center;
}

.home-404{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    margin-left: 15%;
    margin-right: 15%;
}

.button-404 {
    padding: 14px 30px;
    color: white;
    background-color: rgb(197, 197, 197);
    display: inline-block;
    border-radius: 30px 30px 30px 30px;
    font-size: 10px;
    color: black;
}

/*------BLOG------*/

.blocflex-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 40px auto;
    max-width: 1000px;
}


.textwrap-blog{
    flex-wrap: wrap;
    width: 20%
    line-height: 35px;
    font-size: 1em;
}

.title-blog{
    font-size: 32px;
    font-weight: bold;
}

.timeflex-blog{
    display: flex;
    gap: 10px;
}
/*------HEADER------*/
.Header{
    display: flex;
    width: 100%;
    background-color: #E54C2A;
}
.Header-Menu{
    display: flex;
    position: relative;
    left: 16%;
    align-items: center;
    gap: 25px;
    color: white;
    font-weight:500;
}
.Header-Home{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: rgba(0, 0, 0, 0);
    font-weight:500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.Header-Logo{
    display: flex;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.Header-Menu2{
    display: flex;
    margin-left: 10%;
    align-items: center;
    gap: 25px;
    color: white;
    font-weight:500;
}
.Header-Bouton{
    display: flex;
    width: 100px;
    height: 28px;
}