@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Pacifico&display=swap');

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* --- STRUCTURE PRINCIPALE --- */
/* =========================
   BASE
========================= */
/* début footer */
body .EndPage{
    font-family: 'Playfair Display', 'Pacifico';
    color: #222;
}

/* =========================
   FOOTER GLOBAL
========================= */
.EndPage {
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #eee;
}

/* =========================
   COLONNES FOOTER
========================= */
.Footer-columns {
    max-width: 1300px;
    margin: auto;
    padding: 80px 20px 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

/* =========================
   TITRES
========================= */
.Footer-columns h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* =========================
   ABOUT US
========================= */
.TexteBasPage {
    font-size: 15px;
    line-height: 1.8;
    color: #666;
    margin-bottom: 25px;
}

.Info-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 18px;
}

.iconBas {
    width: 18px;
    height: 18px;
    margin-top: 4px;
}

.InfoIta {
    font-size: 14px;
    color: #666;
}

/* =========================
   NEW PRODUCTS
========================= */
.Product-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 22px;
}

.iconBasBouffe {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.Product-info {
    display: flex;
    flex-direction: column;
}

.Product-title {
    font-size: 15px;
    margin-bottom: 6px;
}

.Price-Color {
    font-size: 15px;
    font-weight: bold;
    color: #c0392b;
}

/* =========================
   PRODUITS SECRETS
========================= */
.product-item-ProduitSecret {
    display: none;
}

@media (max-width: 767px) {
    .product-item-ProduitSecret {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 22px;
    }
}

/* =========================
   INFORMATION
========================= */
.Information p {
    font-size: 15px;
    color: #444;
    margin-bottom: 12px;
    cursor: pointer;
}

.Information p:hover {
    color: #c0392b;
}

/* =========================
   INSTAGRAM
========================= */
.Instagram {
    min-height: 150px;
}

/* =========================
   BARRE DU BAS (CENTRÉE)
========================= */
.Bottom-footer {
    border-top: 1px solid #eee;
    background-color: #fff;
}

.Bottom-footer {
    max-width: 1300px;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 6px 0;
}

.title1{
    font-size: 32px;
    font-weight: bold;
}
.gray{
    color: gray;
}
.black{
    color: black;
}

.orange{
    color: #E54C2A;
}
.Produit-In-Stock{
    color: green;
    font-size: 20px;
}

.bold{
    font-weight: bold;
    font-size: 20px;
}


.home{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    margin-left: 15%;
    margin-right: 15%;
    color: grey;
}

/*------ ACCUEIL------*/

/* CAROUSSEL JS*/



/* Font size */

.wlc-fz1{
    font-size: 3em;
}

.wlc-fz2{
    font-size: 2em;
}

.wlc-lh0 p{
    margin: 0;
}

/* UPBANNER */

.wlc-upbanner{
    background-color: #e54a2c;   
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    margin-bottom: 100px;
}

.wlc-upbanner img{
    position: relative;
    background-color: #e54a2c;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 50%; 
    padding: 20px;
    transform: scale(120%);
}

/* BLOC 1 */

.wlc-container{
   text-align: center;
   margin: 0 auto;
   background-image: url();
}

.wlc-container h1{
   font-size: 5em;
}

.wlc-container img{
   margin-top: 10rem;
}

.wlc-container2{
   max-width: 1200px;
   margin: 0 auto;
}

.wlc-container2 img{
    position: relative;
    top: -10px;
    width: 70%;
    transform: scale(200%);
    z-index: -1;
}

.wlc-width-text{
   width: 700px;
}

/* line height */

.wlc-lh2{
    line-height: 3em;;
}

.wlc-lh1{
    line-height: 1.8em;;
}

.wlc-discover-font{
    font-size: 2em;
}

.wlc-lh{
    line-height: 1px;
}

.wlc-button-shopnow{
    border: #e54a2c 2px solid;
    background-color: white;
    color: #e54a2c;
    border-radius: 35px;
    padding: 0 20px 0 20px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 35px;

}

.wlc-button{
    border: #e54a2c 2px solid;
    color: #e54a2c;
    border-radius: 15px;
    padding: 15px 25px 15px 25px;
    display: inline-block;
    margin-top: 50px;
}
.wlc-lowbanner{
    background-color: #E54C2A ;
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: white;
    padding-left: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
}



.wlc-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}


@media screen and (max-width: 767px) {
    .wlc-container2 {
        padding: 0 16px;
        max-width: 700px;
    }
    .wlc-flex {
        flex-direction: column;
        align-items: flex-start; 
        gap: 20px;
    }
    
    .wlc-flex > div:first-child img {
        width: 100%;
        max-width: 360px;
        height: auto;
        display: block;
        margin: 0 0 0 0;
        transform: scale(110%); 
    }
    
    .wlc-flex > .wlc-lh {
        width: 100%;
    }

    .wlc-midbanner{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 1110px) {
    
    .wlc-lastnews-items:last-child {
    display: none;
  }
  .wlc-latestnews{
    display: flex;
    justify-content: space-between;
  }

  .wlc-lowbanner{
    display: none;
  }
}

@media screen and (max-width: 767px) {
    
    .wlc-lastnews-items:first-child {
    display: none;
  }

  /* Cacher l'image Pair (1ère image) de chaque ligne */
    .wlc-img-row > div:nth-child(even) {
        display: none;
    }

    /* Optionnel : centrer la 2e image */
    .wlc-img-row {
        display: flex;
        justify-content: center;
    }

    .wlc-img-row > div {
        width: 100%;
        text-align: center;
    }

    .wlc-img-row img {
        max-width: 100%;
        height: auto;
    }


}

/* BANNIERE INFO */

.wlc-midbanner{
    background-color: #E54C2A;
    display: flex;
    justify-content: center;
    margin: 10rem 25.5rem 0 25.5rem;
    padding: 20px 0 20px 0;
    max-width: 1200px;
    border-radius: 15px;
}

.wlc-midbanner img{
    position: static;
    top: 0;

}

.wlc-midbanner p{
    color: white;
    align-items: center;
}

.wlc-midbannerflex{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* BLOC TRENDING */

.wlc-trending-container{
    display: flex;
    justify-content: center;
    margin: 6rem;
}

.wlc-trending-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.wlc-product-imgSize{
    width: 200px;
}

.wlc-panera img{
    width: 500px;
}

/* BLOC FEATURED */

.wlc-featured-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    flex-wrap: wrap;
    gap: 100px;
}

.wlc-featured-banera img{
    width: 500px;
}

.wlc-img-row{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 80px;
}

.wlc-img-row img{
    width: 200px;
}

/* BLOC BG IMAGE + HOMME */

.wlc-bg-img{
    width: 100%;
    background-image: url(assets/bg-testimonial_1c7bfccb-7834-409d-b6f4-0704b266fbfa.jpg.jpeg);
    background-size: cover;
    background-position: center;
    padding: 23rem 0 10rem 0;
    margin: 50px 0 0 0 ;
}

.wlc-bg-img p{
    color: white;
}

.wlc-img-wrapper {
  position: relative;
  width: 100px;
  height: 100px; /* important */
  margin: 0 auto;
}

.wlc-head {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.wlc-deco {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 115%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.wlc-bg-container{
    margin: 0 auto;
    line-height: 2rem;
    font-size: 18px;
    width: 800px;
    text-align: center;
}

/* BLOC LATEST NEWS */

.wlc-news{
    text-align: center;
    margin-top: 100px;
}

.wlc-latestnews-img-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 30px 0 0 0;
}

.wlc-lastnews-items{
    width: 370px;
}

.wlc-lastnews-items p{
    width: 300px;
}
.title1{
    font-size: 24px;
    font-weight: bold;
}
.gray{
    color: gray;
}
.black{
    color: black;
}




/*------FOOTER------*/

.footer-bg{
    background-image: url(assets\bg-footer.jpg);
    background-size: cover;
    background-color:#F6F7FA;
    padding-top: 3rem;
}

.footer-bg p{
    display: flex;
    justify-content: center;
}

.footer-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.footer-subscribe input {
    padding: 16px 56px;
    border: 1px solid #ddd;
    border-radius: 30px 0 0 30px;
    width: 300px;
    font-size: 14px;
    border-right: none;
    outline: none;
}
.footer-subscribe-button{
    margin-left: -80px;
}

.footer-subscribe button {
    padding: 16px 35px;
    background-color: #e54a2c;
    color: white;
    border: 1px solid #ddd;
    border-radius: 30px 30px 30px 30px;
    font-size: 14px;
    cursor: pointer;
}

/*------404 PAGE------*/

.notfound-404{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.center-404{
    text-align: center;
    font-size: 32px;
    margin-bottom: 6%;
}
.marginN{
    margin-bottom: 0;
}



.button-404 {
    padding: 14px 30px;
    color: white;
    background-color: #EBEBEB;
    display: inline-block;
    border-radius: 30px 30px 30px 30px;
    font-size: 10px;
    color: black;
}
.Header-Link{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/*------BLOG------*/

/* CONTAINER GLOBAL */

.blog-container {
    max-width: 1300px;
    margin: 60px auto;
    padding: 0 30px;
}


/* BLOC PRINCIPAL  */

.blog-item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}


/* IMAGE */

.blog-image {
    width: 375px;       
}

.blog-image img {
    width: 100%;
    display: block;
    border-radius: 4px;
}


/* CONTENU TEXTE */

.blog-content {
    flex: 1;
}

.blog-title {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.blog-meta{
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    margin-right: 16.5%;
}

.blog-meta p {
    font-size: 14px;
    color: gray;
    
}

.blog-text {
    font-size: 1.1em;
    line-height: 30px;
    width: 90%;
    margin: 0 0 25px 0;
}


/* BOUTON */

.blog-button {
    display: inline-block;
    color: white;
    padding: 3px 8px 3px 8px;
    border-radius: 5px;
    background: #E54C2A;
    font-size: 14px;
    cursor: pointer;
}

.blog-circlerow{
    display: flex;
    gap: 3%;
    margin-left: 15%;
    transition: 0.3s ease;
    z-index: -1;
    margin-bottom: 5px;
    align-items: center;
}

.blog-circlerow p{
    background-color: #b4b4b4 ;
    border-radius: 25px ;
    padding: 7px 11px 7px 11px;
    transition: ease 0.3s;
}

.blog-circlerow span{
    margin-left: 57.5%;
}

.blog-circlerow p:hover{
    background-color: #E54C2A ;
    color: white;
    
}

.blog-circlerow:hoover{
    background-color: #E54C2A ;
}


.blog-midbanner{
    position: relative;
    background-color: #E54C2A ;
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: white;
    padding-left: 15%;
    margin-top: -30px;
    z-index: 2;
}

/*------A PROPOS------*/

.about-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 30px;
}

.about-fontsize {
    font-size: 2em;
    line-height: 30px;
}

.about-lineheight {
    line-height: 1.6em;
}

/*------ CATEGORIE ------*/

.category-title{
    font-size: 2em;
    margin-left: 17.5%;
}

.category-container-item{
    max-width: 250px;
    padding: 0 30px;
    border: 1px solid #eeeeee;
}

.category-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.category-image {
    width: 250px;       
    flex-shrink: 0;
}

.category-border-lower{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}



.category-midbanner{
    background-color: #E54C2A ;
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: white;
    padding-left: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}


/*------HEADER------*/
.Header{
    display: flex;
    width: 100%;
    background-color: #E54C2A;
    height: 130px;
    justify-content: center;
}
.Header-bis{
    display: flex;
    width: 100%;
    background-color: #E54C2A;
    height: 60px;
}
.Header-bis-Menu{
    left: 18%;
}
.Header-Menu2-Bis{
    margin-left: 11.5%;
}
.Header-Menu{
    display: flex;
    align-items: center;
    position: relative;
    right: 15%;
    gap: 25px;
    color: white;
    font-weight:500;
}
.Header-categories-marge{
    display: flex;
    position: relative;
    left: 22%;
}
.Header-Home{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: rgba(0, 0, 0, 0);
    font-weight:500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    cursor: pointer;
}
.Header-Home option{
    color:#E54C2A;
    background-color: black;
}
/* Page Article*/
.Header-Logo{
    display: flex;
    position:absolute;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 10%;
    justify-content: center;
}
.Header-Menu2{
    display: flex;
    position: relative;
    left: 8%;
    align-items: center;
    gap: 25px;
    color: white;
    font-weight:500;
}
.Header-Bouton{
    display: flex;
    position: relative;
    left: 12%;
    width: 100px;
    height: 20px;
    margin-top: 54px;
    gap: 25px;
}
.Header-Bouton-Box{
    padding-right: 25px;
    border: 1px solid;
    border-color:rgba(255, 255, 255, 0.1);
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.Header-True-Bottom{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.Header-Bouton-Parametre{
    padding-right: 25px;
    border: 1px solid;
    border-color:rgba(255, 255, 255, 0.1);
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.Header-Select-Bouton{
    cursor: pointer;
}
.Header-Select-Bouton:active{
    background-color: purple;
}
.Hamburger{
    max-width: 40px;
    cursor: pointer;
}
.HBM{
    display: none;
}
.Header-Search-Bar{
    display: none;
}
.SearchIMG{
    width: 100%;
}
.Produit{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.Produit-Line-Heigth{
    line-height: 32px;
}
.Produit-Image-Colun{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 17%;
    width: 600px;
    gap: 35px;
}
.Produit-Image-Taille{
    width: 600px;
}
.Produit-Sticky{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100px;
    position: sticky;
    top: 0;
    margin-left: 2%;
    bottom: 0;
    height: 600px;
}
.Produit-Description{
    display: flex;
    flex-direction: row;
}
.Produit-Description-Menu{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
    width: 10%;
}
.Produit-Description-Texte{
    display: flex;
    flex-direction:column;
    position: relative;
    width: 45%;
    left: 24%;
    border: 1px lightgrey solid;
    padding-left: 1.5%;
    border-top: none;
    border-bottom: none;
    border-right: none;

}
.Produit-Poid{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.Produit-Poid-Box{
    border:#e54a2c solid 1px;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}
.Produit-Quantiter{
    display: flex;
    flex-direction: row;
    width: 100px;
    gap: 20px;
    margin-top: 20px;
}
.Produit-Quantiter-Bouton-Esemble{
    display: flex;
    flex-direction: row;
    width: 200px;
    border: lightgrey 1px solid;
    border-radius: 20px;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.Produit-Bouton{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
@media (max-width:1200px){
    .Header-Menu2{
        display: none;
    }
    .Header-Menu{
        display: none;
    }
    .HBM{
        display: flex;
        position: relative;
        right: 48%;
        height: 52px;
        align-items: center;
        top: 32%;
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }
    .Header-Bouton{
        left: 34%;
    }
}
@media (max-width:768px){
    .blog-image{
        justify-content: center;
    }
    .blog-item{
    }
}
@media (max-width:570px){
    .Disparue{
        display: none;
    }
     .Header{
        height: 220px;
    }
    .HBM{
        top: 46%;
    }
    .Header-Search-Bar{
        display:flex;
        position: relative;
        margin-left: 5%;
        margin-top: -60px;
        margin-bottom: 40px;
        color: white;
    }
    .Header-Search-Bar input{
        background-color: black;
        height: 40px;
        border-color: rgba(0, 0, 0, 0);
        color: white;
    }
    .Header-Search-Bar ::placeholder{
        color: white;
        padding-left: 3%;
    }
        .Header-Bouton{
        top: 28%;
        left: 36%;
    }
    .SearchButon{
        width: 40px;
        height: 40px;
        background-color: black;
        color: white;
        border-color: rgba(0, 0, 0, 0);
        cursor: pointer;
    }
    .home{
        margin-left: 4%;
    }
    .Header-Bouton{
        left: 42%;
    }
    .notfound-404{
    }
    .NotFoudScale{
    width: 100%;
    }
}
@media (max-width:480px){
}


/* article page container */
.article-content {
    max-width: 750px;
    margin: 30px auto 80px;
    padding: 0 20px;
    text-align: left;
}

.article-content p {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 22px;
    color: #555;
}
/* HEADER AVEC IMAGE + TITRE À DROITE */
.article-header {
    max-width: 1170px;
    margin: 40px auto 30px;
    display: flex;
    gap: 35px;
    align-items: flex-start;
    padding: 0 20px;
}

/* IMAGE */
.article-header img {
    width: 360px;
    height: auto;
    object-fit: cover;
}
/* ZONE À DROITE */
.Article-info {
    max-width: 520px;
}
.Article-info p {
    text-align: justify;
}
.Article-info h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.Article-info .meta {
    font-size: 12px;
    color: #999;
    margin-bottom: 15px;
}
/* RESUMÉ */
.Article-info .excerpt {
    font-size: 14px;
    line-height: 1.65;
    color: #666;
}

.home-article {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.home-article p {
    max-width: 1170px;
    margin: 0 auto;
    padding: 18px 20px;
    font-size: 13px;
    color: #999;
}
/* Fin Page Article*/