@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Pacifico&display=swap');

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.EndPage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;               
    align-items: center;     
    text-align: center;      
    width: auto;
    min-height: 100vh;       
}
.EndPage .iconBasBouffe{
    width: 100px;
    height: 100px;
    display: block; 
    object-fit: cover;
    background-color: #f0f0f0;
    border-radius: 6px;
}
.footer-columns{
    display: flex;
    gap: 24px;
    align-items: flex-start; 
}
.footer-columns > * {
    flex: 0 0 220px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.AboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
}
.AboutUs h2, .AboutUs p, .AboutUs .info-item{ text-align: left; }
.footer-columns > * h2{
    align-self: flex-start;
    text-align: left;
}
.NewProducts .product-item{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 6px 0;
}

.title1{
    font-size: 32px;
    font-weight: bold;
}

.gray{
    color: gray;
}
.black{
    color: black;
}

.orange{
    color: #E54C2A;
}

.bold{
    font-weight: bold;
    font-size: 20px;
}

.home{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    margin-left: 15%;
    margin-right: 15%;
}

/*------ ACCUEIL------*/

.wlc-fz1{
    font-size: 3em;
}

.wlc-container{
   text-align: center;
   margin: 0 auto;
   background-image: url();
}

.wlc-container h1{
   font-size: 5em;
}

.wlc-container2{
   max-width: 1200px;
   margin: 0 auto;
}

.wlc-container2 img{
    position: relative;
    top: -10px;
    width: 70%;
    transform: scale(200%);
    z-index: -1;
}

.wlc-width-text{
   width: 700px;
}

.wlc-lh2{
    line-height: 3em;;
}

.wlc-lh1{
    line-height: 1.8em;;
}

.wlc-discover-font{
    font-size: 2em;
}

.wlc-lh{
    line-height: 1px;
}

.wlc-button{
    border: #e54a2c 2px solid;
    color: #e54a2c;
    border-radius: 15px;
    padding: 15px 25px 15px 25px;
    display: inline-block;
    margin-top: 50px;
}



.wlc-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}


@media screen and (max-width: 767px) {
    .wlc-container2 {
        padding: 0 16px;
        max-width: 700px;
    }
    .wlc-flex {
        flex-direction: column;
        align-items: flex-start; 
        gap: 20px;
    }
    
    .wlc-flex > div:first-child img {
        width: 100%;
        max-width: 360px;
        height: auto;
        display: block;
        margin: 0 0 0 0; 
    }
    
    .wlc-flex > .wlc-lh {
        width: 100%;
    }
}

.wlc-midbanner{
    background-color: #E54C2A;
    display: flex;
    justify-content: center;
    margin: 0 24.8% 24.8%;
    padding: 10px 0 10px 0;

}

.wlc-midbanner img{
    position: static;
    top: 0;

}

.wlc-midbanner p{
    color: white;
}

.wlc-midbannerflex{
    display: flex;
    gap: 10px;
    align-items: center;
}



/*------FOOTER------*/

.footer-bg{
    width:100%;
    background-image: url();
    background-color:#F6F7FA;
    padding: 65px 0px 35px 0px;
}
.footer-bg p{
    display: flex;
    justify-content: center;
}

.footer-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.footer-subscribe input {
    padding: 16px 56px;
    border: 1px solid #ddd;
    border-radius: 30px 0 0 30px;
    width: 300px;
    font-size: 14px;
    border-right: none;
    outline: none;
}
.footer-subscribe-button{
    margin-left: -80px;
}

.footer-subscribe button {
    padding: 16px 35px;
    background-color: #e54a2c;
    color: white;
    border: 1px solid #ddd;
    border-radius: 30px 30px 30px 30px;
    font-size: 14px;
    cursor: pointer;
}

/*------404 PAGE------*/

.notfound-404{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.center-404{
    text-align: center;
    font-size: 32px;
    margin-bottom: 6%;
}
.marginN{
    margin-bottom: 0;
}



.button-404 {
    padding: 14px 30px;
    color: white;
    background-color: #EBEBEB;
    display: inline-block;
    border-radius: 30px 30px 30px 30px;
    font-size: 10px;
    color: black;
}
.Header-Link{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/*------BLOG------*/

/* CONTAINER GLOBAL */

.blog-container {
    max-width: 1300px;
    margin: 60px auto;
    padding: 0 30px;
}


/* BLOC PRINCIPAL  */

.blog-item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}


/* IMAGE */

.blog-image {
    width: 375px;       
}

.blog-image img {
    width: 100%;
    display: block;
    border-radius: 4px;
}


/* CONTENU TEXTE */

.blog-content {
    flex: 1;
}

.blog-title {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.blog-meta{
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    margin-right: 16.5%;
}

.blog-meta p {
    font-size: 14px;
    color: gray;
    
}

.blog-text {
    font-size: 1.1em;
    line-height: 30px;
    width: 90%;
    margin: 0 0 25px 0;
}


/* BOUTON */

.blog-button {
    display: inline-block;
    color: white;
    padding: 3px 8px 3px 8px;
    border-radius: 5px;
    background: #E54C2A;
    font-size: 14px;
    cursor: pointer;
}

.blog-circlerow{
    display: flex;
    gap: 3%;
    margin-left: 15%;
    transition: 0.3s ease;
    z-index: -1;
    margin-bottom: 5px;
    align-items: center;
}

.blog-circlerow p{
    background-color: #b4b4b4 ;
    border-radius: 25px ;
    padding: 7px 11px 7px 11px;
    transition: ease 0.3s;
}

.blog-circlerow span{
    margin-left: 57.5%;
}

.blog-circlerow p:hover{
    background-color: #E54C2A ;
    color: white;
    
}

.blog-circlerow:hoover{
    background-color: #E54C2A ;
}


.blog-midbanner{
    position: relative;
    background-color: #E54C2A ;
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: white;
    padding-left: 15%;
    margin-top: -30px;
    z-index: 2;
}

/*------A PROPOS------*/

.about-container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 30px;
}

.about-fontsize {
    font-size: 2em;
    line-height: 30px;
}

.about-lineheight {
    line-height: 1.6em;
}

/*------ CATEGORIE ------*/

.category-title{
    font-size: 2em;
    margin-left: 17.5%;
}

.category-container-item{
    max-width: 250px;
    padding: 0 30px;
    border: 1px solid #eeeeee;
}

.category-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.category-image {
    width: 250px;       
    flex-shrink: 0;
}

.category-border-lower{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}



.category-midbanner{
    background-color: #E54C2A ;
    display: flex;
    flex-direction: row;
    gap: 40px;
    color: white;
    padding-left: 15%;
    margin-top: 20px;
}


/*------HEADER------*/
.Header{
    display: flex;
    width: 100%;
    background-color: #E54C2A;
    height: 130px;
    justify-content: center;
}
.Header-bis{
    display: flex;
    width: 100%;
    background-color: #E54C2A;
    height: 60px;
}
.Header-bis-Menu{
    left: 18%;
}
.Header-Menu2-Bis{
    margin-left: 11.5%;
}
.Header-Menu{
    display: flex;
    align-items: center;
    position: relative;
    right: 15%;
    gap: 25px;
    color: white;
    font-weight:500;
}
.Header-categories-marge{
    display: flex;
    position: relative;
    left: 22%;
}
.Header-Home{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: rgba(0, 0, 0, 0);
    font-weight:500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    cursor: pointer;
}
.Header-Logo{
    display: flex;
    position:absolute;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 10%;
    justify-content: center;
}
.Header-Menu2{
    display: flex;
    position: relative;
    left: 8%;
    align-items: center;
    gap: 25px;
    color: white;
    font-weight:500;
}
.Header-Bouton{
    display: flex;
    position: relative;
    left: 12%;
    width: 100px;
    height: 20px;
    margin-top: 54px;
    gap: 25px;
}
.Header-Bouton-Box{
    padding-right: 25px;
    border: 1px solid;
    border-color:rgba(255, 255, 255, 0.1);
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.Header-True-Bottom{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.
.Header-Bouton-Parametre{
    padding-right: 25px;
    border: 1px solid;
    border-color:rgba(255, 255, 255, 0.1);
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.Hamburger{
    max-width: 40px;
    cursor: pointer;
}
.HBM{
    display: none;
}
.Header-Search-Bar{
    display: none;
}
.SearchIMG{
    width: 100%;
}
@media (max-width:1200px){
    .Header-Menu2{
        display: none;
    }
    .Header-Menu{
        display: none;
    }
    .HBM{
        display: flex;
        position: relative;
        right: 48%;
        height: 52px;
        align-items: center;
        top: 32%;
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }
    .Header-Bouton{
        left: 34%;
    }
}
@media (max-width:768px){
    .blog-image{
        justify-content: center;
    }
    .blog-item{
    }
}
@media (max-width:570px){
    .Disparue{
        display: none;
    }
     .Header{
        height: 220px;
    }
    .HBM{
        top: 46%;
    }
    .Header-Search-Bar{
        display:flex;
        position: relative;
        margin-left: 5%;
        margin-top: -60px;
        margin-bottom: 40px;
        color: white;
    }
    .Header-Search-Bar input{
        background-color: black;
        height: 40px;
        border-color: rgba(0, 0, 0, 0);
        color: white;
    }
    .Header-Search-Bar ::placeholder{
        color: white;
        padding-left: 3%;
    }
        .Header-Bouton{
        top: 28%;
        left: 36%;
    }
    .SearchButon{
        width: 40px;
        height: 40px;
        background-color: black;
        color: white;
        border-color: rgba(0, 0, 0, 0);
        cursor: pointer;
    }
    .home{
        margin-left: 4%;
    }
    .Header-Bouton{
        left: 42%;
    }
    .notfound-404{
    }
    .NotFoudScale{
    width: 100%;
    }
}
@media (max-width:480px){
}



