html body{
    width:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.title1{
    font-size: 24px;
    font-weight: bold;
}

.gray{
    color: gray;
}
.footer-bg{
    width:100%;
    background-image: url();
    background-color:#F6F7FA;
    padding: 35px 0px 35px 0px;
}

.footer-bg p{
    display: flex;
    justify-content: center;
}

.footer-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.footer-subscribe input {
    padding: 16px 16px;
    border: 1px solid #ddd;
    border-radius: 30px 0 0 30px;
    width: 300px;
    font-size: 14px;
    border-right: none;
    outline: none;
}

.footer-subscribe button {
    padding: 16px 35px;
    background-color: #e54a2c;
    color: white;
    border: 1px solid #ddd;
    border-radius: 30px 30px 30px 30px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
}

.notfound-404{
    display: flex;
    justify-content: center;
}

.center-404{
    text-align: center;
}

.button-404 {
    padding: 14px 30px;
    color: white;
    background-color: rgb(197, 197, 197);
    display: inline-block;
    border-radius: 30px 30px 30px 30px;
    font-size: 10px;
    color: black;
}

.Header{
    display: flex;
    width: 100%;
    background-color: #E54C2A;
    height: 130px;
    justify-content: center;
}
.Header-Menu{
    display: flex;
    align-items: center;
    position: relative;
    right: 15%;
    gap: 25px;
    color: white;
    font-weight:500;
}
.Header-Home{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: rgba(0, 0, 0, 0);
    font-weight:500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.Header-Logo{
    display: flex;
    position:absolute;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
}
.Header-Menu2{
    display: flex;
    position: relative;
    left: 8%;
    align-items: center;
    gap: 25px;
    color: white;
    font-weight:500;
}
.Header-Bouton{
    display: flex;
    position: relative;
    left: 12%;
    width: 100px;
    height: 28px;
    margin-top: 50px;
    gap: 25px;
}
.Header-Bouton-Search{
    padding-right: 25px;
    border: 1px solid;
    border-color:rgba(255, 255, 255, 0.1);
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.Header-Bouton-Parametre{
    padding-right: 25px;
    border: 1px solid;
    border-color:rgba(255, 255, 255, 0.1);
    border-top: none;
    border-bottom: none;
    border-left: none;
}
.Header-Bouton-Panier{
    
}