html body{
    width:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.Header{
    display: flex;
    width: 100%;
    background-color: #E54C2A;
}
.Header-Menu{
    display: flex;
    position: relative;
    left: 16%;
    align-items: center;
    gap: 25px;
    color: white;
    font-weight:500;
}
.Header-Home{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: rgba(0, 0, 0, 0);
    font-weight:500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
.Header-Logo{
    display: flex;
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.Header-Menu2{
    display: flex;
    margin-left: 10%;
    align-items: center;
    gap: 25px;
    color: white;
    font-weight:500;
}
.Header-Bouton{
    display: flex;
    width: 100px;
    height: 28px;
}